@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    font-family: "Bree Serif", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: #F3E7E8;
    display: block; 
}

/* --- ESTILO NORMAL (Con Sidebar) --- */
.derecha {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    /* Tu configuración actual para dejar espacio al sidebar */
    margin-left: 39vh; 
    width: calc(100% - 39vh);
    transition: all 0.3s ease; /* Agregué esto para que se vea suave el cambio */
}

header-info {
    display: block;
    position: fixed;
    top: 0;
    left: 35vh;
    width: calc(100% - 35vh);
    z-index: 10;
}

sidebar-info {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 35vh; 
    height: 100vh;
    z-index: 20;
}

/* --- NUEVO: ESTILO PANTALLA COMPLETA (Sin Sidebar) --- */
/* Esta clase anula los márgenes cuando estamos en Login */
.derecha.full-screen {
    margin-left: 0 !important;
    width: 100% !important;
    
    /* Opcional: Si quieres que el login quede centrado verticalmente */
    /* justify-content: center; */
    /* align-items: center; */
}