@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');



* {
    font-family: "Bree Serif", serif;
}

main{
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.derecha {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.crear-publicacion {
    flex-grow: 1;

}

