@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    font-family: "Bree Serif", serif;
}

body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.derecha {
    width: 100%;
    height: 100%;
}