@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    font-family: "Bree Serif", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: #F3E7E8;
    display: block; 
}

.derecha {
    flex-grow: 1;
    height: 100vh;
    margin-left: 35vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: calc(100vw - 39vh);
    margin-left: 39vh; 
    width: calc(100% - 39vh)
}
header-info {
    display: block;
    position: fixed;
    top: 0;
    left: 35vh;
    width: calc(100% - 35vh);
    z-index: 10;
}

sidebar-info {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 35vh; 
    height: 100vh;
    z-index: 20;
}