@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  font-family: "Bree Serif", serif;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #F3E7E8;
  padding: 1rem;
}

.contenedor {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: #FFFFFF;
  border-color: #CECECE;
  border-radius: 1rem;
  gap: 1rem;
}

.imagenes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 350px;
  max-height: 350px;
}

.imagen-producto {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 1rem;
}

.agregar {
  border: 2px dashed #F0A37B;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  cursor: pointer;
  color: #7D7D7D;
  text-align: center;
  font-size: 14px;
}

.agregar .contenido {
  max-width: 170px;
  max-height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.agregar .icono {
  width: 65px;
}

.contenido>span {
  font-size: 1.7rem;
}

.datos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  margin: 0;
}

.contenedor-input:not(#contenedor-horizontal) {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  background-color: #FBFBFB;
  border: 1.5px solid #CECECE;
  border-radius: 10px;
  padding: 0.3rem;
}

textarea {
  min-height: 100px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
}

.tag {
  background-color: #FFCED6;
  border: 1.5px solid #E62634;
  border-radius: 1rem;
  padding: 0.3rem;
  color: #E62634;
}

.tag a {
  color: inherit;
  text-decoration: none;
}

.tag a:hover {
  color: #000000;
}

.toggle-container {
  display: flex;
  justify-content: space-around;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #FFCED6;
}

/* Ocultar los inputs de radio originales */
.toggle-container input[type="radio"] {
  display: none;
}

.toggle-btn {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  transition: color 0.3s ease;
}

input[type="radio"]+.toggle-btn {
  border: 2px solid transparent;
}

input[type="radio"]:checked+.toggle-btn {
  background-color: #FFFFFF;
  border: 2px solid #E62634;
  border-radius: 8px;
  transition: transform 1s ease;
}

.btn-crear {
  height: 2.5rem;
  font-size: 1.3rem;
  background-color: #E62634;
  border: none;
  border-radius: 0.8rem;
  color: #FFFFFF;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}