<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vitrina - Iniciar Sesión</title>
    <link rel="stylesheet" href="iniciarSesion.component.css">
    <link rel="stylesheet" href="../../../styles.css">
</head>

<body>

    <div class="all">
        <div class="image-side side-div">
            <img src="./src/assets/iniciarSesion.png" alt="Gente empacando">

            <div class="overlay"></div>

            <div class="content-over-image">
                <div class="logo-container">
                    <img class="brand-logo" src="./src/assets/logoBlanco.png" alt="">
                </div>
                <h2 class="brand-slogan">El Marketplace Donde Encontrarás<br>Todo lo que Necesitas.</h2>
            </div>
        </div>

        <div class="login-form side-div">
            <div class="form-container">
                <div class="header">
                    <h3>¡Qué gusto tenerte de vuelta!</h3>
                    <span class="subtitle">Inicia sesión con tu cuenta.</span>
                </div>


                <form id="formIniciarSesion">
                    <div class="input-group">
                        <label>Correo electrónico</label>
                        <input type="email" maxlength="100" id="correo" placeholder="ejemplo@direccion.com">
                    </div>

                    <div class="input-group">
                        <div class="label-row">
                            <label>Contraseña</label>
                            <a href="#" class="forgot-link" id="olvidoContrasenia">¿Olvidaste tu contraseña?</a>
                        </div>
                        <input type="password" maxlength="100" id="contrasenia" placeholder="********">
                    </div>

                    <div class="error-message" id="errorMessage"></div>
                    <div class="success-message" id="successMessage"></div>


                    <a href="/home-page"><button type="submit">Entrar</button></a>


                </form>

                <p class="register-text">
                    ¿Aún no tienes una cuenta?
                    <a href="#" class="registrarse" id="linkRegistrarse">Regístrate</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>