<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto Card</title>
    <link rel="stylesheet" href="../publicacionCard/publicacionCard.component.css">
</head>

<body>
    <div class="card-container">
        <div class="card-image">
            <img src="https://media.gucci.com/style/DarkGray_Center_0_0_490x490/1565101803/547551_K05NB_8745_001_072_0000_Light-bolsa-tote-pequena-ophidia.jpg" alt="Imagen no disponible">
        </div>

        <div class="card-details">
            <h4>Bolsa gucci original</h4>
            <div class="card-footer">
                <span class="price">$2,600</span>
                <span class="tag">Venta</span>
            </div>
        </div>
    </div>
</body>

</html>