@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    font-family: "Bree Serif", serif;
}

body {
    background-color: antiquewhite;
    padding: 2rem;
}

.container {
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    border: 1px solid #929292;
}

.resenia-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#titulo {
    margin: 0;
}

#usuario {
    margin: 0;
    color: #929292;
}

.estrellas {
    margin: 0;
    color: #F0A37B;
}

.resenia-info img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.resenia-info h5 {
    margin: 0;
    color: #F0A37B;
}

.resenia-left-data {
    display: flex;
    flex-direction: row;
}

#descripcion {
    color: #929292
}