@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    font-family: "Bree Serif", serif;
}

.div-logo {
    height: auto;
    display: flex;
    justify-content: center;
}

.div-buttons {
    padding: 0.5rem;
}

.div-buttons ul {
    list-style-type: none;
    padding: 0;
}

.div-btn-publicar {
    display: flex;
    justify-content: center;
}

.side-bar {
    width: 35vh;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-bar-button {
    color: #1A1717;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    width: auto;
    margin: 3rem, 0;
    text-decoration: none;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

.side-bar-button img {
    width: 15%;
    height: 15%;
    margin-right: 1rem;
}

.side-bar-button:hover {
    background-color: #cf919b;
}

.side-bar-btn-publicar {
    background-color: #E62634;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 15px;
    margin: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.side-bar-btn-publicar:hover {
    background-color: #e25e66;
    cursor: pointer;
}

.side-bar-logo {
    margin-top: 2rem;
    width: 70%;
    height: 70%;
}