@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    font-family: "Bree Serif", serif;
}

nav {
    width: 20%;
    height: 100vh;
    background-color: #C1C1C1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 90%;
}

.side-bar-buttons {
    color: #000;
    display: flex;
    flex-direction: row;   
    justify-content: center;
    padding: 1rem;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.side-bar-buttons li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.side-bar-buttons li img{
    width: 20%;
}

.side-bar-publicar {
    background-color: #E62634;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 15px;
    margin: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.side-bar-publicar:hover {
    background-color: #e25e66;
}