
.card-container {
    background-color: #fff;
    width: 300px; 
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    border: 1px solid #e0e0e0; 
    overflow: hidden; 
    transition: transform 0.3s ease; 
}

.card-container:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 220px; 
    background-color: #f4f4f4; 
    display: flex;             
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-image img {
   width: 100%;
    height: 220px; 
    background-color: #f4f4f4; 
    display: flex;             
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;

}

.card-details {
    padding: 15px;
}

.card-details h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #dc3545;
    font-size: 22px;
    font-weight: bold;
}

.tag {
    color: #999;
    font-weight: bold;
    font-size: 14px;
}

.card-details h4{
    height: 3rem;
}