<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="detallepublicacion.component.css">
</head>

<body>
    <div class="container">
        <div class="publicacion-container">
            <h2 id="titulo">iPhone 11 en muy buen estado</h2>
            <div class="disponibilidad-fecha">
                <h3 id="disponibilidad">Artículo disponible</h3>
                <h4 id="fechaPublicacion">23-11-2025</h4>
            </div>
            <img src="" alt="">
            <div class="descripcion-info">
                <h3>Descripción</h3>
                <h3 id="precio">$ 5,000.00</h3>
            </div>
            <p id="descripcion">
                Vendo iPhone 11 con todos sus accesorios 📱 <br>
                ✅ Cargador <br>
                ✅ Audífonos <br>
                ✅ Case protector <br>
                <br>
                La batería tiene 93% de condición, he cuidado muy bien el teléfono.
            </p>
        </div>
        <div class="mensaje-container">
            <div class="perfil-info">
                <img class="profile-pic" src="../../assets/pedrito.png" alt="">
                <div class="user-data">
                    <h3 id="nombre-perfil">Finn, The Human</h3>
                    <div class="resenias">
                        <h5 id="calificacion"><span class="estrella">★</span>4.9 (1,204 reseñas)</h5>
                    </div>
                </div>
            </div>
            <hr class="line">
            <div class="button">
                <button id="btn-enviar-mensaje">Enviar mensaje</button>
            </div>
        </div>
    </div>
</body>

</html>